<h1>Characters</h1>
<mat-divider></mat-divider>

<mat-card class="mt10">
    <mat-card-title>Search</mat-card-title>
    <mat-card-content>
        <mat-form-field class="w100" appearance="fill">
            <mat-label>Search character</mat-label>
            <input matInput type="text" #searchCharacter (keyup)="search()">
        </mat-form-field>
    </mat-card-content>
</mat-card>

<!--  -->
<!-- Show characters -->
<!--  -->
<mat-card class="mt10">
    <mat-card-title *ngIf="characters.length>0">Showing from: <b>{{from+1}} to {{(from + characters.length)}}</b> from a total of <b>{{characterInfo?.count}}</b> characters <span  *ngIf="searchCharacter.value.length > 0"> with <b>"{{searchCharacter.value}}"</b></span></mat-card-title>
    <mat-card-title *ngIf="!(characters.length > 0) ">No characters found with name <b>"{{searchCharacter.value}}"</b></mat-card-title>
    <mat-card-content class="">
        <div class="mt10 mb10" fxLayout="row" >
            <button class="allignButton" [disabled]="!characterInfo?.prev || !(characters.length > 0)" mat-raised-button color="primary" (click)="changePage(-20)"><mat-icon>navigate_before</mat-icon>Previous</button>
            <span class="spacer"></span>
            <button class="allignButton" [disabled]="!characterInfo?.next || !(characters.length > 0)" mat-raised-button color="primary" (click)="changePage(20)">Next <mat-icon>navigate_next</mat-icon></button>
        </div>
        <mat-divider></mat-divider>
        <mat-card class="loading mt10" *ngIf="loadingCharacters">
            <div class="allign-text ">
                Loading, please wait... <mat-icon>watch_later</mat-icon>
            </div>
        </mat-card>
        
        <div fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="space-around stretch" *ngIf="!loadingCharacters">
            <mat-card class="standard-card mt30" *ngFor="let character of characters">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title><b>{{character.name}}</b>
                    </mat-card-title>
                    <mat-card-subtitle><b>{{character.species}}</b></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="character.image" alt="Photo of the character">
                <mat-card-content>
                    Gender: <b>{{character.gender}}</b><br>
                    Origin: <b>{{character.origin.name}}</b><br>
                    Last known location: <b>{{character.location.name}}</b><br>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- Botones para mover el paginados -->
        <mat-divider class="mt10"></mat-divider>
        <div class="mt10" fxLayout="row">
            <button class="allignButton"  mat-raised-button color="primary" [disabled]="!characterInfo?.prev || !(characters.length > 0)" (click)="changePage(-20)"><mat-icon>navigate_before</mat-icon>Previous</button>
            <span class="spacer"></span>
            <button class="allignButton" mat-raised-button color="primary"  [disabled]="!characterInfo?.next || !(characters.length > 0)" (click)="changePage(20)">Next <mat-icon>navigate_next</mat-icon></button>
        </div>
    </mat-card-actions>
</mat-card>